body {
    background: scroll;
    background-color:cyan;
}
#pictures {
    text-align: center;
    font-size:x-large;
    background-color:aliceblue;
    font-family: serif;
    background-color: cadetblue;
}
#contact {
    text-align: center;
    font-size:medium;
    font-style:inherit;
};