* {
box-sizing: content-box;
margin: 0;
box-shadow: skyblue;
}

body
{
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    background-color: azure;
}

/*BODY*/

nav-container
{
    position: absolute;
    width: 1500px;
    height: 84px;
    right: 0px;
    box-shadow: 6px 10px 20px;
}

.wrapper
{
width: 1200px;
margin-top: 0 auto;
}

nav
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 44px;
}
    
nav ul
{
    display: flex;
}

.navigation li
{
    list-style:none;
    margin-right: 100px;
    align-items: center;
    justify-content: space-between;
    
}

.navigation li a
{ 
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background: lightskyblue;
    border-radius: 10px;
    padding: 4px 16px;

}

/* HEADER*/
.header-container
{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
    
}

.content h1
{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    align-items:center;
    justify-content: center;
    line-height: px;
    color: lightblue;
}

.content p
{   
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
}
    

.Allan img
{
    height: 150px;
    align-items:flex-start;
    justify-content:flex-start;
    border-radius: 100px;

}
